@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap"); // Semi-bold 600 Bold 700
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap"); // Semi-bold 600 Bold 700
@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

body {
  margin: 0;
  background-image: linear-gradient(166deg, #fff, #f8f8f8);
}

* {
  box-sizing: border-box;
}

.container {
  width: $maxWidthContainer;
}

.row {
  width: $maxWidthContainer;
}

header {
  height: 144px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  font-family: $OpenSans;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.13px;
  color: $black;
  text-align: center;
}

.navbar-elem {
  width: 144px;
  height: 23px;
}

.language {
  display: flex;
  justify-content: start;
}

.language-elem {
  width: 56px;
  height: 24px;
  opacity: 0.25;
  font-family: $OpenSans;
  font-weight: 600;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.13px;
  color: $black;
  opacity: 0.25;
  text-align: center;
}

.active {
  opacity: 1;
}

.row1 {
  margin: 0 0 168px;
}

.LOGISTICS-MANAGEMENT {
  margin: 0 0 49px;
  text-align: start;
  height: 110px;
  font-family: $Catamaran;
  font-size: 55px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -1.38px;
  color: $black;
}

.first-text {
  width: 566px;
  padding: 0;
  margin: 0 0 62px 12px;
  opacity: 0.75;
  font-family: $OpenSans;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.53px;
  color: $charcoal;
}

.Have-you-experienced {
  margin: 0 0 168px;
  font-size: 35px;
  font-family: $Catamaran;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.88px;
  text-align: right;
  height: 35px;
  color: $black;
}

.button-desk-shadow {
  margin-bottom: 219px;
  margin-left: 30px;
  border: none;
  box-shadow: 0px 13px 10px 0px rgba(8, 61, 119, 0.5);
  width: 315px;
  height: 72px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 72px;
}

.button-desk {
  border: none;
  margin-left: -15px;
  background-color: $twilight-blue;
  border-radius: 72px;
  width: 345px;
  height: 77px;
  object-fit: contain;
}

.button-desk-text {
  font-family: $Catamaran;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: -0.53px;
  text-align: center;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
  color: $white;
}

.cards {
  width: 1440px;
  display: flex;
}

.card-info {
  width: 420px;
  height: 368px;
  margin-right: 15px;
  padding: 0 37px 0 38px;
  object-fit: contain;
  box-shadow: 0 10px 30px 0 rgba(8, 61, 119, 0.25);
  background-color: $twilight-blue;
  .card-info-title {
    font-family: $OpenSans;
    height: 50px;
    margin: 67px 0px 22px 0px;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -0.53px;
    color: $white;
  }
  .card-info-text {
    font-family: $OpenSans;
    font-size: 17px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.43px;
    color: $white;
    opacity: 0.8;
  }
}

.nav-buttons {
  display: flex;
  margin-bottom: 173px;
}

.selector-buttons {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  .selector-button {
    margin-left: 16px;
  }
}

.second-text {
  width: 345px;
  padding-left: 40px;
  margin: 5px 0 315px;
  opacity: 0.75;
  font-family: $OpenSans;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.63px;
  color: $charcoal;
}

.procents {
  font-family: $Catamaran;
  font-size: 115px;
  font-weight: 900;
  padding-left: 40px;
  width: 346px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  color: $charcoal;
}

.HOW-CAN-YOU-BENEFIT {
  width: 710px;
  height: 70px;
  margin: 0 0 127px 54px;
  font-family: $Catamaran;
  font-size: 35px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.88px;
  color: $black;
}

.notation-wrapper {
  display: flex;
}

.notation-icone {
  padding: 15px 23px 0 0;
}

.notation-title {
  font-family: $Catamaran;
  font-size: 25px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: start;
  color: $black;
  margin-bottom: 20px;
}

.notation-text {
  width: 345px;
  color: $black;
  font-family: $OpenSans;
  font-size: 17px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.43px;
  margin-bottom: 47px;
}

.notation-block {
  padding-left: 80px;
}
.notation-block-right {
  padding-left: 47px;
}

.YOUR-BUSINESS-CASE {
  width: 355px;
  font-family: $Catamaran;
  font-size: 25px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.63px;
  text-align: center;
  color: $black;
  margin-bottom: 30px;
  margin-left: 25px;
  p {
    margin-top: 0;
    margin-bottom: 0;
    color: $watermelon;
  }
}
