@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap"); // Semi-bold 600 Bold 700
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap"); // Semi-bold 600 Bold 700
@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

body {
  margin: 0;
  background-image: linear-gradient(166deg, #fff, #f8f8f8);
}

* {
  box-sizing: border-box;
}

.container {
  width: $maxWidthContainer;
}

.row {
  width: $maxWidthContainer;
}

header {
  .burger-menu-icon {
    img {
      width: 0;
    }
  }
  height: 144px;
  display: flex;
  align-items: center;
  margin: 0 0 168px;
  .navbar {
    display: flex;
    justify-content: center;
    font-family: $OpenSans;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.13px;
    color: $black;
    text-align: center;
    .navbar-elem {
      width: 144px;
      height: 23px;
    }
  }
  .language {
    display: flex;
    justify-content: start;
    .language-elem {
      width: 56px;
      height: 24px;
      opacity: 0.25;
      font-family: $OpenSans;
      font-weight: 600;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 0.13px;
      color: $black;
      opacity: 0.25;
      text-align: center;
    }
    .active {
      opacity: 1;
    }
  }
}

.LOGISTICS-MANAGEMENT {
  margin: 0 0 49px;
  text-align: start;
  height: 110px;
  font-family: $Catamaran;
  font-size: 55px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -1.38px;
  color: $black;
}

.LOGISTICS-MANAGEMENT-text {
  width: 566px;
  padding: 0;
  margin: 0 0 62px -40px;
  opacity: 0.75;
  font-family: $OpenSans;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.53px;
  color: $charcoal;
}

.Have-you-experienced {
  margin: 0 0 168px;
  font-size: 35px;
  font-family: $Catamaran;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.88px;
  text-align: right;
  height: 35px;
  color: $black;
}

.button-desk-shadow {
  margin-bottom: 219px;
  margin-left: 30px;
  border: none;
  box-shadow: 0px 13px 10px 0px rgba(8, 61, 119, 0.5);
  width: 315px;
  height: 72px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 72px;
  .button-desk {
    border: none;
    margin-left: -15px;
    background-color: $twilight-blue;
    border-radius: 72px;
    width: $textWidth;
    height: 77px;
    object-fit: contain;
  }
  .button-desk:hover {
    cursor: pointer;
    background-color: #022041;
    transition: 0.5s;
  }
  .button-desk-text {
    font-family: $Catamaran;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: -0.53px;
    text-align: center;
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
    color: $white;
  }
}

.carousel {
  width: 1188px;
  margin-left: 95px;
  margin-bottom: 178px;
}

.carousel__prev {
  width: 70px;
  height: 70px;
  border-radius: 0;
  font-size: 0;
  content: none;
  background: url("./img/prev-button.png");
  margin: 403px 0 0 35px;
  top: 0;
  left: 0;
}

.carousel__next {
  margin: 403px 0 0 35px;
  border-radius: 0;
  width: 70px;
  height: 70px;
  font-size: 0;
  content: none;
  background: url("./img/next-button.png");
  top: 0;
  left: 0;
}

.carousel__pagination-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.25;
}

.carousel__pagination-button--active {
  opacity: 1;
}

.disable {
  opacity: 0.25;
}

.carousel__pagination {
  margin-left: -340px;
}

.cards {
  width: 435px;
  display: flex;
  .card-info {
    width: 420px;
    height: 368px;
    margin-right: 15px;
    padding: 0 37px 0 38px;
    object-fit: contain;
    box-shadow: 0 10px 30px 0 rgba(8, 61, 119, 0.25);
    background-color: $twilight-blue;
    .card-info-title {
      text-align: start;
      padding-top: 67px;
      font-family: $OpenSans;
      height: 50px;
      margin: 0 0px 22px 0px;
      font-size: 21px;
      font-weight: bold;
      line-height: 25px;
      letter-spacing: -0.53px;
      color: $white;
    }
    .card-info-text {
      text-align: start;
      padding-top: 67px;
      font-family: $OpenSans;
      font-size: 17px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.43px;
      color: $white;
      opacity: 0.8;
    }
  }
}

.text-with-procents {
  width: $textWidth;
  padding-left: 40px;
  margin: 5px 0 315px;
  opacity: 0.75;
  font-family: $OpenSans;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.63px;
  color: $charcoal;
}

.procents {
  font-family: $Catamaran;
  font-size: 115px;
  font-weight: 900;
  padding-left: 40px;
  width: $textWidth;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  color: $charcoal;
}

.HOW-CAN-YOU-BENEFIT {
  width: 710px;
  height: 70px;
  margin: 0 0 127px 54px;
  font-family: $Catamaran;
  font-size: 35px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.88px;
  color: $black;
  .HOW-CAN-YOU-BENEFIT-mobile {
    font-size: 0;
  }
}

.our-advantages-notations-wrapper {
  .notation-mobile {
    font-size: 0;
    img {
      width: 0;
    }
  }
}

.notation-block {
  padding-left: 80px;
  .notation-wrapper {
    display: flex;
    .notation-icone {
      padding: 15px 23px 0 0;
    }
    .notation-text {
      width: $textWidth + 1;
      color: $black;
      font-family: $OpenSans;
      font-size: 17px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.43px;
      margin-bottom: 47px;
    }
    .notation-title {
      font-family: $Catamaran;
      font-size: 25px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.63px;
      text-align: start;
      color: $black;
      margin-bottom: 20px;
    }
  }
  .right {
    padding-left: 47px;
  }
}

.YOUR-BUSINESS-CASE {
  width: 355px;
  font-family: $Catamaran;
  font-size: 25px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.63px;
  text-align: center;
  color: $black;
  margin-bottom: 30px;
  margin-left: 25px;
  p {
    margin-top: 0;
    margin-bottom: 0;
    color: $watermelon;
  }
}

.our-advantages {
  font-family: $Catamaran;
  font-size: 35px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.88px;
  color: $black;
  margin-bottom: 52px;
  height: 44px;
  width: 505px;
}

.our-advantages-person-wrapper {
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  width: 633px;
  height: 757px;
  padding: 96px 158px 133px 40px;
  margin: 0 0 229px -20px;
}

.our-advantages-block {
  margin-left: 10px;
}

.our-advantages-notations-wrapper {
  margin-right: -20px;
  .notation {
    display: flex;
    .icon {
      margin-right: 43px;
    }
    .title-text {
      .title {
        font-family: $Catamaran;
        font-size: 21px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.53px;
        color: $black;
      }
      .text {
        width: $textWidth;
        opacity: 0.75;
        font-family: $OpenSans;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.38px;
        color: $black;
        margin-bottom: 26px;
      }
    }
  }
  .person-wrapper {
    .text {
      width: 435px;
      font-family: $OpenSans;
      font-size: 17px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.43px;
      color: $black;
      margin-bottom: 15px;
    }
    .icon-title {
      width: 435px;
      display: flex;
      flex-direction: row-reverse;
      .title {
        font-family: $OpenSans;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.43px;
        text-align: right;
        color: $black;
      }
      .icon {
        margin: 0 0 71px 15px;
        filter: grayscale(100%);
      }
    }
  }
}

footer {
  .nav-wrapper-modile {
    .data-protection-mobile {
      font-size: 0;
    }
  }
  margin-left: -150px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 104px;
  background-color: $black;
  .nav-wrapper {
    display: flex;
    .nav {
      font-family: $OpenSans;
      font-size: 15px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.12px;
      text-align: center;
      color: #fff;
      height: 20px;
      margin-left: 20px;
    }
    .imprint {
      width: 80px;
    }
    .data-protection {
      width: 175px;
    }
  }
}

.modalContainer {
  inset: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.modal-open {
  position: relative;
  height: 653px;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  -webkit-filter: none;
  filter: none;
  filter: none;
  background-color: white;
  display: flex;
  position: fixed;
  top: 34px;
  flex-direction: column;
  margin: auto;
  width: 633px;
  height: 753px;
  .modal-close {
    cursor: pointer;
    display: flex;
    justify-content: end;
    margin-bottom: 8px;
  }
  .title {
    text-align: start;
    font-family: $Catamaran;
    font-size: 25px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.63px;
    color: $black;
    margin: 0 0 20px 52px;
  }
  .text {
    width: 529px;
    opacity: 0.75;
    font-family: $OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
    color: $black;
    margin: 0 0 50px 52px;
  }
  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 13px;
    font-family: $OpenSans;
    .input-name {
      margin: 0 12px;
      display: flex;
      flex-direction: column;
      label {
        height: 22px;
      }
      input {
        width: 240px;
        height: 44px;
        object-fit: contain;
        border-radius: 72px;
        border: solid 1px $black;
        padding: 10px 22px 10px 24px;
      }
      input::placeholder {
        opacity: 0.25;
      }
    }
    .full-wrapper {
      display: flex;
      flex-direction: column;
      label {
        height: 22px;
      }
      .full {
        width: 504px;
        height: 44px;
        padding: 10px 48.9px 10px 24px;
        object-fit: contain;
        border-radius: 72px;
        border: solid 1px $black;
      }
      .full::placeholder {
        opacity: 0.25;
      }
      .text-box {
        font-family: $OpenSans;
        font-size: 17px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.43px;
        color: $black;
        height: 132px;
        border-radius: 22px;
        resize: none;
        overflow: auto;
        overflow-x: hidden;
      }
      .text-box::-webkit-scrollbar-thumb {
        background-color: #bbb;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        border-radius: 22px;
        scroll-margin-block-start: 10px;
      }
      .text-box::-webkit-scrollbar {
        border-radius: 22px;
        scroll-margin-block-start: 10px;
      }
    }
    label {
      padding-left: 24px;
    }
  }
  .privat-text {
    margin-left: 64px;
    width: 345px;
    opacity: 0.75;
    font-family: $OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
    color: $black;
    margin-bottom: 50px;
    a {
      color: $black;
    }
  }
  .button-modal-wrapper {
    margin-left: 64px;
    width: 504px;
    display: flex;
    justify-content: end;
    .button-modal {
      width: 240px;
      height: 44px;
      border: none;
      margin-left: -15px;
      background-color: $twilight-blue;
      border-radius: 72px;
      object-fit: contain;
    }
    .button-modal:hover {
      cursor: pointer;
      background-color: #022041;
      transition: 0.5s;
    }
    .button-modal-text {
      font-family: $OpenSans;
      font-size: 17px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.43px;
      text-align: center;
      color: #fff;
    }
  }
}

.scroll-for-more-info {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 207px;
  height: 36px;
  transform: rotate(-90deg);
  margin-left: -150px;
  opacity: 0.5;
  font-family: $OpenSans;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: center;
  color: $charcoal;
  img {
    margin-left: -100px;
    transform: rotate(90deg);
  }
  padding: 0;
}

@media (max-width: 768px) {
  body {
    margin-left: 66px;
  }

  header {
    margin-right: 20px;
    margin: 0 0 184px;
    .navbar {
      margin-left: -66px;
      .navbar-elem {
        width: 120px;
      }
      .last {
        margin-left: 25px;
      }
    }
  }

  .container {
    width: 768px;
    padding: 0;
    margin: 0;
  }

  footer {
    margin-left: -66px;
    width: 768px;
  }

  .row {
    width: 768px;
  }

  .LOGISTICS-MANAGEMENT {
    padding: 0;
    font-size: 35px;
    width: 452px;
    height: 70px;
    letter-spacing: -0.88px;
  }

  .LOGISTICS-MANAGEMENT-text {
    width: 452px;
    font-size: 17px;
    letter-spacing: -0.43px;
    margin: 0 0 87px -82px;
  }

  .scroll-for-more-info {
    margin-top: 20px;
    margin-left: -120px;
  }

  .button-desk-shadow {
    margin-left: -107px;
    margin-bottom: 144px;

    .button-desk-text {
      font-weight: 900;
    }
  }

  .Have-you-experienced {
    height: 25px;
    margin-left: -35px;
    width: 585px;
    font-size: 25px;
  }

  .carousel {
    width: 768px;
    margin-left: 0px;
  }

  .cards {
    width: 375px;
    margin-left: -25px;
    .card-info {
      margin-right: 0;
      padding: 87px 15px;
      width: 375px;
      .card-info-title {
        padding-top: 0;
      }
      .card-info-text {
        padding-top: 0;
        font-size: 15px;
      }
    }
  }

  .text-with-procents {
    width: 258.6px;
    height: 75.2px;
    font-size: 18.8px;
    margin-left: -115px;
    margin-bottom: 165px;
  }
  .procents {
    margin-left: 20px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    width: 259.4px;
    height: 75.2px;
    font-size: 80px;
  }

  .HOW-CAN-YOU-BENEFIT {
    margin-left: -40px;
    padding: 0;
    font-size: 25px;
    margin-bottom: 121px;
  }
  .notation-row {
    display: flex;
    flex-direction: column;
  }

  .notation-block {
    padding-left: 0;
    margin-left: -30px;
    .notation-wrapper {
      .notation-text {
        font-weight: normal;
      }
      .notation-title {
        font-size: 21px;
        letter-spacing: -0.53px;
      }
    }
  }

  .YOUR-BUSINESS-CASE {
    margin-top: 157px;
    margin-left: -115px;
  }

  .our-advantages-block {
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    margin-left: -20px;
    .our-advantages {
      font-size: 25px;
    }
  }
  .our-advantages-person-wrapper {
    width: 633px;
    height: 708px;
    padding: 90px 110px 90px 108px;
    margin-left: -11px;
  }

  .modal {
    top: 34;
    left: 68px;
    .inputs {
      .input-name input {
        font-size: 17px;
      }
      .full-wrapper .full {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 426px) {
  body {
    margin-left: 0;
    padding-left: 35px;
  }

  .modal {
    width: 345px;
    height: 753px;
    top: 30px;
    left: 15px;
    .title {
      margin-left: 25px;
    }
    .text {
      margin-left: 25px;
      margin-bottom: 20px;
    }
    .privat-text {
      width: 295px;
      margin-left: 25px;
      margin-bottom: 25px;
    }

    .button-modal-wrapper {
      margin-left: 80px;
      width: 240px;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      .input-name {
        margin-left: 25px;
        input {
          width: 295px;
          font-size: 17px;
        }
      }
      .full-wrapper {
        margin-left: 25px;
        .full {
          width: 295px;
          font-size: 17px;
          padding: 13px 24px;
        }
      }
    }
  }

  .container {
    width: 375px;
    padding: 0;
    margin-left: -15px;
  }

  header {
    .burger-menu-icon {
      img {
        margin-left: 40px;
        width: 24px;
      }
    }
  }

  .carousel {
    width: 375px;
    margin-left: -20px;
  }

  .cards {
    width: 375px;
    margin-left: 0px;
    .card-info {
      margin-right: 0;
      padding: 91px 30px;
      width: 375px;
      .card-info-title {
        padding-top: 0;
      }
      .card-info-text {
        padding-top: 0;
        font-size: 15px;
      }
    }
  }

  .carousel__pagination {
    margin-left: -210px;
  }

  .carousel__pagination-item {
    margin-left: 5px;
  }

  .carousel__next {
    margin: 403px 0 0 270px;
  }

  .carousel__prev {
    margin: 403px 0 0 270px;
  }

  footer {
    img {
      margin-left: -100px;
    }
    .nav-wrapper {
      .data-protection {
        font-size: 0;
      }
      .imprint {
        font-size: 0;
      }
    }
    .nav-wrapper-modile {
      .data-protection-mobile {
        width: 200px;
        height: 20px;
        margin: -20px 0 36px;

        font-family: $OpenSans;
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.12px;
        text-align: center;
        color: #fff;
      }
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    width: 375px;
    height: 208px;
  }

  .row {
    width: 375px;
  }

  header {
    margin: 0 0 92px;
    .navbar {
      opacity: 0;
      margin-left: -66px;
      .navbar-elem {
        width: 0px;
      }
      .last {
        margin-left: 25px;
      }
    }

    .language {
      display: flex;
      justify-content: start;
      .language-elem {
        opacity: 0;
      }
    }
  }

  .LOGISTICS-MANAGEMENT {
    padding: 0;
    font-size: 30px;
    width: 325px;
    height: 120px;
    letter-spacing: -0.75px;
    margin-bottom: 50px;
  }

  .LOGISTICS-MANAGEMENT-text {
    margin-bottom: 50px;
    width: 325px;
    height: 138px;
  }

  .scroll-for-more-info {
    opacity: 0;
  }

  .button-desk-shadow {
    box-shadow: 0px 5px 10px 0px rgba(8, 61, 119, 0.5);
    height: 57px;
    .button-desk {
      height: 57px;
    }
  }

  .Have-you-experienced {
    width: 345px;
    height: 50px;
    letter-spacing: -0.63px;
    margin-left: 20px;
    padding: 0;
    margin-bottom: 50px;
  }
  .text-with-procents {
    margin-left: 0;
    margin-bottom: 29.8px;
    padding-left: 30px;
    padding-right: 0;
    letter-spacing: -0.47px;
  }

  .procents {
    padding-left: 83px;
    margin-bottom: 192.8px;
  }

  .HOW-CAN-YOU-BENEFIT {
    font-size: 0;
    .HOW-CAN-YOU-BENEFIT-mobile {
      margin-left: 15px;
      width: 345px;
      height: 50px;
      font-family: $Catamaran;
      font-size: 25px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: -0.63px;
      color: $black;
    }
  }
  .notation-block {
    margin-left: 0;
    .notation-wrapper {
      .notation-title {
        width: 220px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .notation-text {
        width: 220px;
        font-size: 15px;
        letter-spacing: -0.38px;
        opacity: 0.75;
        margin-bottom: 44px;
      }
    }
  }
  .YOUR-BUSINESS-CASE {
    margin-top: 118px;
    letter-spacing: -0.53px;
    line-height: 1.19;
    font-size: 21px;
  }

  .our-advantages-notations-wrapper {
    .notation .icon img {
      width: 0;
    }
    .notation .title-text {
      .title {
        font-size: 0;
      }
      .text {
        font-size: 0;
        margin-bottom: 0;
      }
    }

    .notation-mobile {
      width: 375px;
      padding: 0;
      .title-wrapper {
        z-index: 2;
        cursor: pointer;
        padding-left: 15px;
        width: 375px;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid 1px #f3f3f3;
        .title {
          width: 316px;
          height: 34px;
          font-family: $Catamaran;
          font-size: 21px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: -0.53px;
          color: $black;
        }
        img {
          width: 18px;
          height: 10px;
        }
      }
      .text {
        padding-left: 15px;
        width: 345px;
        opacity: 0.75;
        font-family: $OpenSans;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.38px;
        color: $black;
      }
    }
  }

  .our-advantages {
    width: 345px;
  }

  .our-advantages-person-wrapper {
    padding: 25px;
    margin-top: 98px;
    margin-left: 15px;
    width: 345px;
    height: 625px;
    .person-wrapper {
      .text {
        width: 300px;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.38px;
      }
      .icon-title {
        width: 295px;
        .icon {
          margin-bottom: 50px;
        }
      }
    }
  }

  .menu-mobile {
    width: 375px;
    padding: 0;
    .title-wrapper-language {
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 15px;
      width: 375px;
      height: 56px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: solid 1px #f3f3f3;
      .title-language {
        width: 187px;
        height: 34px;
        font-family: $Catamaran;
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.53px;
        color: $black;
      }
      .title-language-elem {
        width: 56px;
        height: 24px;
        opacity: 0.25;
        font-family: $OpenSans;
        font-size: 17px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        text-align: center;
        color: $black;
      }
      .active {
        opacity: 1;
      }
    }
    .title-wrapper {
      z-index: 2;
      cursor: pointer;
      padding-left: 15px;
      width: 375px;
      height: 56px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: solid 1px #f3f3f3;
      .title {
        width: 316px;
        height: 34px;
        font-family: $Catamaran;
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.53px;
        color: $black;
      }
    }
  }

  .burger-menu {
    .button-desk-shadow {
      margin-bottom: 300px;
      box-shadow: 0px 5px 10px 0px rgba(8, 61, 119, 0.5);
      height: 44px;
      .button-desk {
        height: 44px;
      }
    }
    margin-top: -92px;
  }
}
