$main-color: red;
$maxWidthContainer: 1140px;
$OpenSans: "Open Sans", sans-serif;
$Catamaran: "Catamaran", sans-serif;
$twilight-blue: #083d77;
$box-shadow-blue: rgba(8, 61, 119, 0.25);
$charcoal: #1a1d1a;
$black: rgb(30, 30, 30);
$white: #ffffff;
$watermelon: #ea5256;
$textWidth: 345px;
